In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("transformed_Housing_Prices.csv")

In [3]:
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

In [4]:
y=data.iloc[:,0]

In [5]:
x=data.iloc[:,1:31]

In [6]:
x.head()

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,63,...,0,0,0,0,0,0,0,0,0,0
1,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,67,...,0,0,1,0,0,0,0,0,0,0
2,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,85,...,0,0,1,0,0,0,0,0,0,0
3,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,53,...,0,0,0,1,0,0,0,0,0,0
4,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,31,...,0,0,0,0,1,0,0,0,0,0

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,Y_test=train_test_split(x,y,test_size=.3)

In [9]:
x_train.shape

(15126, 30)

# standardisation

In [15]:
from sklearn import preprocessing
scale=preprocessing.StandardScaler()

In [16]:
x_train=scale.fit_transform(x_train)

In [17]:
x_train

array([[-0.39543464, -0.46895635, -0.7656516 , ..., -0.11398347,
        -0.16816683, -0.04951886],
       [ 0.67266257,  1.14671279,  1.78400967, ..., -0.11398347,
        -0.16816683, -0.04951886],
       [-0.39543464,  0.50044513,  0.31931064, ..., -0.11398347,
        -0.16816683, -0.04951886],
       ...,
       [-0.39543464, -1.43835784, -1.21048612, ..., -0.11398347,
        -0.16816683, -0.04951886],
       [ 0.67266257,  0.82357896,  3.65014472, ..., -0.11398347,
        -0.16816683, -0.04951886],
       [ 0.67266257,  1.46984662,  0.98113761, ..., -0.11398347,
        -0.16816683, -0.04951886]])

In [18]:
x_test=scale.fit_transform(x_test)

In [19]:
x_test

array([[-0.40665374,  1.15660579, -0.87836336, ..., -0.10818558,
        -0.17043362, -0.04482492],
       [-0.40665374,  0.50010049,  0.25306503, ..., -0.10818558,
        -0.17043362, -0.04482492],
       [-1.49966211,  0.50010049, -0.34011102, ..., -0.10818558,
        -0.17043362, -0.04482492],
       ...,
       [-0.40665374,  0.50010049, -0.46094318, ..., -0.10818558,
        -0.17043362, -0.04482492],
       [-0.40665374, -1.46941543, -0.32912628, ..., -0.10818558,
        -0.17043362, -0.04482492],
       [-0.40665374, -0.48465747,  0.12124813, ..., -0.10818558,
        -0.17043362, -0.04482492]])